<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	 http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
	 http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	">

	<!-- START SNIPPET commun -->
	<context:annotation-config />

	<context:component-scan
		base-package="fr.generali.gfb.ws"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Service" />
	</context:component-scan>

	<!-- Gestion de l'encapsulation automatique des exceptions en fault. -->
	<aop:config>
		<aop:pointcut id="wsOperation"
			expression="execution(* fr.generali..*WebServiceImpl.*(..))" />
		<aop:advisor advice-ref="faultWrapper"
			pointcut-ref="wsOperation" />
	</aop:config>

	<bean id="faultWrapper"
		class="fr.generali.socle.exception.ws.FaultWrapper" />
	<bean
		class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames" value="*WebService" />
		<property name="interceptorNames">
			<list>
				<value>faultWrapper</value>
			</list>
		</property>
	</bean>
	<!-- END SNIPPET commun -->

</beans>