<?xml version="1.0" encoding="utf-8"?>
<root>
	<declarations>
		<choice id="ceiling" defaultelement="other" label="plafond">
			<element id="other" classname="ceiling_other" label="Autre" x="0" y="0" type="ceiling" />
			<element id="paint" classname="ceiling_paint1" label="Peinture" x="0" y="0" type="ceiling"/>
			<element id="wallpaper1" classname="ceiling_wallpaper1" label="Papier peint 1" x="0" y="0" type="ceiling"/>
			<element id="wallpaper2" classname="ceiling_wallpaper2" label="Papier peint 2" x="0" y="0" type="ceiling"/>
        </choice>
		<choice id="walls" defaultelement="other" label="mur">
			<element id="other" classname="walls_other" label="Autre" x="0" y="0" type="walls"/>
			<element id="paint1" classname="walls_paint1" label="Peinture 1" x="0" y="0" type="walls"/>
			<element id="paint2" classname="walls_paint2" label="Peinture 2" x="0" y="0" type="walls"/>
			<element id="wallpaper1" classname="walls_wallpaper1" label="Papier peint 1" x="0" y="0" type="walls"/>
			<element id="wallpaper2" classname="walls_wallpaper2" label="Papier peint 2" x="0" y="0" type="walls"/>
		</choice> 
		<choice id="floor" defaultelement="other" label="sol">
			<element id="other" classname="floor_other" label="Autre" x="0" y="217.8" type="floor"/>
			<element id="tiles1" classname="floor_carrelage1" label="Carrelage 1" x="0" y="217.8" type="floor"/>
			<element id="tiles2" classname="floor_carrelage2" label="Carrelage 2" x="0" y="217.8" type="floor"/>
			<element id="carpet1" classname="floor_moquette1" label="Moquette 1" x="0" y="217.8" type="floor"/>
			<element id="carpet2" classname="floor_moquette2" label="Moquette 2" x="0" y="217.8" type="floor"/>
			<element id="wood1" classname="floor_parquet1" label="Parquet 1" x="0" y="217.8" type="floor"/>
			<element id="wood2" classname="floor_parquet2" label="Parquet 2" x="0" y="217.8" type="floor"/>
			<element id="plastic1" classname="floor_plastic1" label="Linoleum 1" x="0" y="217.8" type="floor"/>
			<element id="plastic2" classname="floor_plastic2" label="Linoleum 2" x="0" y="217.8" type="floor"/>
		</choice> 
		<element id="line" classname="line" x="288.5" y="0" type="none"/>
    </declarations> 
	<choice id="rooms" defaultelement="saloon">
		<group id="saloon" label="Salon">
			<choiceref id="ceiling" defaultelement="wallpaper1"/>
			<choiceref id="walls" defaultelement="paint1"/>
			<choiceref id="floor" defaultelement="wood1"/>
			<element id="carpet" classname="carpet" label="Mobilier" x="100" y="234" type="furniture"/>
			<element id="table" classname="table" label="Mobilier" x="90.4" y="209.8" type="furniture"/>
			<element id="tv" classname="tv" label="Mobilier" x="17.4" y="115.6" type="furniture"/>
			<element id="largewindow" classname="window_large" label="Fenêtre" x="146" y="83" type="housepart"/>
			<element id="curtains" classname="rideaux" label="Mobilier" x="129" y="80" type="furniture"/>
			<element id="flowers" classname="orchid" label="Mobilier" x="104" y="166" type="none"/>
			<element id="armchair" classname="armchair" label="Mobilier" x="201.4" y="188" type="furniture"/>
			<elementref id="line"/>	
		</group>
		<group id="room" label="Chambre">
			<choiceref id="ceiling" defaultelement="paint"/>
			<choiceref id="walls" defaultelement="paint1"/>
			<choiceref id="floor" defaultelement="carpet2"/>
			<element id="bed" classname="bed" label="Mobilier" x="20.8" y="201.8" type="furniture"/>
			<element id="largewindow" classname="window_large" label="Fenêtre" x="146" y="83" type="housepart"/>
			<element id="curtains" classname="rideaux" label="Mobilier" x="129" y="80" type="furniture"/>
			<element id="table2" classname="table2" label="Mobilier" x="246" y="181" type="furniture"/>
			<element id="flowers" classname="orchid" label="Mobilier" x="250" y="142" type="none"/>
			<elementref id="line"/>
		</group>
		<group id="kitchen" label="Cuisine">
			<choiceref id="ceiling" defaultelement="paint"/>
			<choiceref id="walls" defaultelement="paint1"/>
			<choiceref id="floor" defaultelement="tiles1"/>
			<element id="largewindow" classname="window_large" label="Fenêtre" x="126" y="67" type="housepart"/>
			<element id="kitchenfurnitures" classname="cuisine_furniture" label="Mobilier" x="12" y="112" type="furniture"/>
			<element id="flowers" classname="orchid" label="Mobilier" x="73" y="103" type="none"/>
			<elementref id="line"/>
		</group>
		<group id="bathroom" label="Salle de bain">
			<choiceref id="ceiling" defaultelement="paint"/>
			<choiceref id="walls" defaultelement="paint1"/>
			<choiceref id="floor" defaultelement="tiles2"/>
			<element id="sink" classname="bathroom_furniture" label="Mobilier" x="18.3" y="118.6" type="furniture"/>
			<element id="smallwindow" classname="window_small" label="Fenêtre" x="109.9" y="53.5" type="housepart"/>
			<element id="tub" classname="bathtub" label="Mobilier" x="140.4" y="184.4" type="furniture"/>
			<elementref id="line"/>
		</group>
		<group id="WC" label="WC">
			<choiceref id="ceiling" defaultelement="paint"/>
			<choiceref id="walls" defaultelement="paint1"/>
			<choiceref id="floor" defaultelement="tiles2"/>
			<element id="paper" classname="toilet_paper" label="Mobilier" x="43.3" y="167.1" type="furniture"/>
			<element id="smallwindow" classname="window_small" label="Fenêtre" x="187.9" y="61.4" type="housepart"/>
			<element id="wc" classname="toilets" label="Mobilier" x="108.5" y="145.1" type="furniture"/>
			<elementref id="line"/>
		</group>
		<group id="other_group" label="Autre">
			<choiceref id="ceiling" defaultelement="paint"/>
			<choiceref id="walls" defaultelement="paint1"/>
			<choiceref id="floor" defaultelement="tiles1"/>
			<element id="largewindow" classname="window_large" label="Fenêtre" x="143.8" y="81.8" type="housepart"/>
			<elementref id="line"/>
		</group>
    </choice>
</root>
