<configuration>

    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} gfb [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <logger name="fr.generali.gfb">
        <level value="@@APPL_LOG_LOGGER_LEVEL@@"/>
    </logger>
    
    <root>
        <level value="@@APPL_LOG_ROOT_LEVEL@@"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>