<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context" xmlns:jee="http://www.springframework.org/schema/jee"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       ">

  <context:annotation-config />

  <!--START SNIPPET: spring-services-->
  <context:component-scan base-package="fr.generali.gfb" use-default-filters="false">
    <context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
    <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository" />
  </context:component-scan>

  <!-- Placeholder -->
  <bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>classpath:/fr/generali/gfb/services/elisa/elisa.properties</value>
        <value>classpath:/fr/generali/espaceclient/proxy/generic-host.properties</value>
        <value>classpath:/fr/generali/gfb/ws/sinistre/sinistre.properties</value>
      </list>
    </property>
  </bean>

  <!-- Bean client Elisa pour interroger harvest -->
  <bean id="fr.generali.gvie.elisa.ws.retraiteobligatoire.services.IRetraiteObligatoireWebService" class="org.codehaus.xfire.spring.remoting.XFireClientFactoryBean">
    <property name="serviceClass" value="fr.generali.gvie.elisa.ws.retraiteobligatoire.services.IRetraiteObligatoireWebService" />
    <property name="wsdlDocumentUrl" value="http://${elisa.services.host}/services/IRetraiteObligatoireWebService?wsdl" />
    <property name="lookupServiceOnStartup" value="false" />
    <!-- 
    <property name="inHandlers" >
      <list>
        <bean class="org.codehaus.xfire.util.LoggingHandler"/>
        <bean class="org.codehaus.xfire.util.dom.DOMInHandler"/>
      </list>
    </property>
    <property name="outHandlers" >
      <list>
        <bean class="org.codehaus.xfire.util.LoggingHandler"/>
        <bean class="org.codehaus.xfire.util.dom.DOMOutHandler"/>
      </list>
    </property>
    <property name="faultHandlers" >
      <list>
        <bean class="org.codehaus.xfire.util.LoggingHandler"/>
        <bean class="org.codehaus.xfire.util.dom.DOMOutHandler"/>
      </list>
    </property>
     -->
  </bean>

</beans>