body{
   margin : 0;
   background-image: url(../img/structure/font.jpg) ;
   background-repeat : repeat;
   font-family: Georgia,'Times New Roman',times,serif;
   text-align : center;
}

input{
   border :  1px solid blue;
   padding : 5px;  
   margin: 1px;  
   cursor: pointer;
}

a img{
   border: 0 none;
}

textarea{
   border :  1px solid blue;
   padding : 5px;  
}

legend{
   font-weight : bold;
}

fieldset{
   padding-bottom: 10px;
   padding-left: 10px;
   border : 1px solid blue;
}

iframe{
   min-height: 0px;
   width :100% ;
   height : auto;
   border: none;
   font-weight : bold;
}