#bouton {
        text-align: left;
        font-weight : bold;
        font-size : 100%;
        letter-spacing : 1pt;
        width: 150px;
}

ul{
  list-style-type :none ;
  padding : 0;
  margin : 0;
}

#bouton li a {
        height: 26px;
        text-decoration: none;
}

#bouton li a:link, #bouton li a:visited {
        color: gray;
        display: block;
        background:  url(../../img/bouton3.png);
        padding-left: 10px;
        padding-top : 6px;
}

#bouton li a:hover, #bouton li #current {
        color: gray;
        background:  url(../../img/bouton3.png) 0 -32px;
        padding-left: 10px;
        padding-top : 6px;
}