dl, dt, dd, ul, li {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

#menu-deroulant {
   position : absolute;
   top : inherit;
   left : inherit;
   width :800px;
   z-index:100;
}

#menu-deroulant dl {
   float: left;
   width: 150px;
}

/*MENU AFFICHAGE*/
#menu-deroulant dt {
   cursor: pointer;
}

#menu-deroulant dd {
   display: none;
}
#menu-deroulant li a, #menu-deroulant dt a {
   display: block;
   border: 0 none;
}