Application{
	backgroundGradientColors: #ffffff, #ffffff;
	color:#333333;
	padding-bottom:3;padding-left:0;padding-right:0;padding-top:0;
	horizontal-gap:0;
	horizontal-align: center;
	vertical-gap:0;
	background-gradient-alphas:1,1;
}
ApplicationControlBar{
	fillAlphas:0.74,0.77;
	fillColors:#ffffff,#c1e0d8;
	backgroundAlpha:0.78;
	cornerRadius:10;
	shadowDistance:1;
	shadowDirection:center;
}
Alert{
	color: #595D5D ;
	background-color: white;
	font-thickness:11;
	header-height:19;
	border-thickness:1;
	drop-shadow-enabled:true;
	drop-shadow-color:#d1ddf7;
	shadowDistance:5;
	shadowDirection:right;
	corner-radius:10;
	border-style:solid;
	header-colors:#5dbecd,#5dbecd;
	border-color:white;
	roundedBottomCorners:false;
	background-alpha:0.5;
}
Button{
	cornerRadius:8;
	paddingLeft:5;paddingRight:6;paddingTop:2;paddingBottom:2;
	highlightAlphas:0.5, 1;
	fillAlphas:1, 1, 1, 1;
	fillColors:#ffffff, #cccccc, #ffffff, #dadada;
	color:#333333;
	textRollOverColor:#008fa6;
	textSelectedColor:#016e7f;
	borderColor:#cccccc;
	themeColor:#008fa6;
	fontFamily:Verdana;
	fontSize:11;
	fontWeight:bold;
}
.NavButton{
	button-width:200;
	cornerRadius: 8;
	paddingLeft:5;paddingRight:6;paddingTop:3;paddingBottom:3;
	highlightAlphas:0.38,0.22;
	fillAlphas:1,1,1,1;
	fillColors:#c64b3b,#b22c1b,#bd4d3f,#8b2214;
	color:#ffffff;
	textRollOverColor:#ffffff;
	textSelectedColor:#ffffff;
	selection-color:white;
	borderColor:#cccccc;
	themeColor:#008fa6;
	fontFamily:Verdana;
	fontSize:10;
	fontWeight:bold;
}

TextInput, DateField, NumericStepper{
	theme-color:#004B4F;
}

TextArea {
   fontFamily: Verdana;
   color: #333333;
   paddingLeft: 4;
   paddingRight: 4;
   borderStyle: inset;
   cornerRadius: 0;
   dropShadowEnabled: false;
   shadowDirection: center;
   textAlign:justify;
   theme-color:#1F777D;
}

.generaliPanel{
	border-style:none;
	header-height:10;
	background-alpha:0;
	border-alpha:0;
	horizontal-align:center;
}

.imageText{
	color:#ffffff;
	font-weight:bold;
}

.textSimple{color:black}
.textSimpleItalic{color:black;font-style:italic}
.textSimpleBold{color:black;font-weight:bold}

.recapPanel{
	borderThicknessLeft:3;
	borderThicknessTop:3;
	borderThicknessBottom:3;
	borderThicknessRight:3;
	cornerRadius:9;
	headerHeight:0;
	highlightAlphas:0.3,0.68;
	headerColors:#ffffff,#d9d9d9;
	footerColors:#e7e7e7,#d9d9d9;
	shadowDistance:1;
	border-style :solid;
	titleStyleName:"recapPanelTitle";
}
.recapPanelTitle{
	color:#333333;
	fontFamily:Verdana;
	fontSize:11;
	fontWeight:bold;
}



.warning{border-style:solid;border-color:red;font-weight:bold;padding-bottom:2;padding-top:2}


