#progress {
   background: url(../../img/Progress/progress-bar.gif) repeat-x;
   height: 18px;
   width: 780px;
   border-left: 1px solid grey;
   border-right: 1px solid grey;

   visibility: hidden;

   position: relative;
   left: 10px;
   top: 70px;    
}

#chargement{

   position : absolute;
   top: 10%;
   left: 10px;

   z-index :500 ;

   visibility: hidden;

   width : 600px;
   height : 50px ;

   text-align : center;
   padding-top : 150px;

   background-image : url(../../img/WaitLoad.png) ;
   background-repeat : no-repeat;
}