<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context" xmlns:jee="http://www.springframework.org/schema/jee"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       ">

  <!--START SNIPPET: spring-services-->
  <context:component-scan base-package="fr.generali.gfb.services" use-default-filters="false">
    <context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
    <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository" />
  </context:component-scan>


  <import resource="classpath*:org/codehaus/xfire/spring/customEditors.xml" />


  <bean id="xfire.serviceRegistry" class="org.codehaus.xfire.service.DefaultServiceRegistry" />
  <bean id="xfire.transportManager" class="org.codehaus.xfire.transport.DefaultTransportManager" init-method="initialize" destroy-method="dispose" />

  <bean id="xfire" class="org.codehaus.xfire.DefaultXFire">
    <constructor-arg index="0" ref="xfire.serviceRegistry" />
    <constructor-arg index="1" ref="xfire.transportManager" />
  </bean>

  <bean id="xfire.typeMappingRegistry" class="org.codehaus.xfire.aegis.type.DefaultTypeMappingRegistry" init-method="createDefaultMappings"/>

  <bean id="xfire.aegisBindingProvider" class="org.codehaus.xfire.aegis.AegisBindingProvider">
    <constructor-arg index="0" ref="xfire.typeMappingRegistry" />
  </bean>

  <bean id="xfire.serviceFactory" class="org.codehaus.xfire.service.binding.ObjectServiceFactory">
    <constructor-arg index="0" ref="xfire.transportManager" />
    <constructor-arg index="1" ref="xfire.aegisBindingProvider" />
  </bean>

  <bean id="xfire.messageServiceFactory" class="org.codehaus.xfire.service.binding.ObjectServiceFactory">
    <constructor-arg index="0" ref="xfire.transportManager" />
    <constructor-arg index="1" ref="xfire.messageBindingProvider" />
    <property name="style" value="message" />
  </bean>

  <bean id="xfire.messageBindingProvider" class="org.codehaus.xfire.service.binding.MessageBindingProvider" />

</beans>