<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>DocAlliance</display-name>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>fr.alliance.docalliance.ajax.accueil.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Accueil</servlet-name>
        <servlet-class>fr.alliance.docalliance.ajax.accueil.Accueil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Historique</servlet-name>
        <servlet-class>fr.alliance.docalliance.ajax.historique.Historique</servlet-class>
    </servlet>
             
    
             
    <servlet>
        <servlet-name>RecuperationPDF</servlet-name>
        <servlet-class>fr.alliance.docalliance.ajax.mail.RecuperationPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deconnexion</servlet-name>
        <servlet-class>fr.alliance.docalliance.ajax.accueil.Deconnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JDBC</servlet-name>
        <servlet-class>fr.alliance.docalliance.ajax.error.JDBC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMail</servlet-name>
        <servlet-class>fr.alliance.docalliance.ajax.mail.paye.SendMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>List_Contact</servlet-name>
        <servlet-class>fr.alliance.docalliance.ajax.mail.tools.List_Contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>List_PDF</servlet-name>
        <servlet-class>fr.alliance.docalliance.ajax.mail.tools.List_PDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vide</servlet-name>
        <servlet-class>fr.alliance.docalliance.ajax.mail.tools.Vide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccueilPaye</servlet-name>
        <servlet-class>fr.alliance.docalliance.ajax.mail.paye.AccueilPaye</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionMail</servlet-name>
        <servlet-class>fr.alliance.docalliance.ajax.mail.paye.ActionMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccueilExchange</servlet-name>
        <servlet-class>fr.alliance.docalliance.ajax.exchange.AccueilExchange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccueilNewsLetter</servlet-name>
        <servlet-class>fr.alliance.docalliance.ajax.mail.newsletter.AccueilNewsLetter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChoixNewsLetter</servlet-name>
        <servlet-class>fr.alliance.docalliance.ajax.mail.newsletter.ChoixNewsLetter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccueilDivers</servlet-name>
        <servlet-class>fr.alliance.docalliance.ajax.mail.divers.AccueilDivers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionNewsLetter</servlet-name>
        <servlet-class>fr.alliance.docalliance.ajax.mail.newsletter.ActionNewsLetter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterDestinataires</servlet-name>
        <servlet-class>fr.alliance.docalliance.ajax.mail.divers.AjouterDestinataires</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionDivers</servlet-name>
        <servlet-class>fr.alliance.docalliance.ajax.mail.divers.ActionDivers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterPDF</servlet-name>
        <servlet-class>fr.alliance.docalliance.ajax.mail.divers.AjouterPDF</servlet-class>
    </servlet>
    <servlet><servlet-name>UploadPDF</servlet-name><servlet-class>fr.alliance.docalliance.ajax.mail.tools.UploadPDF</servlet-class></servlet>
    <servlet>
        <servlet-name>New</servlet-name>
        <servlet-class>fr.alliance.docalliance.ajax.Administration.AdresseMail.New</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Disabled</servlet-name>
        <servlet-class>fr.alliance.docalliance.ajax.Administration.AdresseMail.Disabled</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modify</servlet-name>
        <servlet-class>fr.alliance.docalliance.ajax.Administration.AdresseMail.Modify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>fr.alliance.docalliance.ajax.Administration.AdresseMail.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Show</servlet-name>
        <servlet-class>fr.alliance.docalliance.ajax.Administration.AdresseMail.Show</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadData</servlet-name>
        <servlet-class>fr.alliance.docalliance.ajax.Administration.AdresseMail.tools.UploadData</servlet-class>
    </servlet>
    <servlet><servlet-name>Message</servlet-name><servlet-class>fr.alliance.docalliance.tools.html.message.Message</servlet-class></servlet><servlet><servlet-name>SaveNewInfos</servlet-name><servlet-class>fr.alliance.docalliance.ajax.Administration.AdresseMail.tools.SaveNewInfos</servlet-class></servlet>
    <servlet>
        <servlet-name>UploadPayePDF</servlet-name>
        <servlet-class>fr.alliance.docalliance.ajax.mail.tools.UploadPayePDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Enabled</servlet-name>
        <servlet-class>fr.alliance.docalliance.ajax.Administration.AdresseMail.Enabled</servlet-class>
    </servlet>
    
    
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Accueil</servlet-name>
        <url-pattern>/Accueil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Historique</servlet-name>
        <url-pattern>/Historique</url-pattern>
    </servlet-mapping>
             
    
             
    <servlet-mapping>
        <servlet-name>RecuperationPDF</servlet-name>
        <url-pattern>/RecuperationPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deconnexion</servlet-name>
        <url-pattern>/Deconnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JDBC</servlet-name>
        <url-pattern>/JDBC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMail</servlet-name>
        <url-pattern>/SendMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>List_Contact</servlet-name>
        <url-pattern>/List_Contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>List_PDF</servlet-name>
        <url-pattern>/List_PDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vide</servlet-name>
        <url-pattern>/Vide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccueilPaye</servlet-name>
        <url-pattern>/AccueilPaye</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionMail</servlet-name>
        <url-pattern>/ActionMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccueilExchange</servlet-name>
        <url-pattern>/AccueilExchange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccueilNewsLetter</servlet-name>
        <url-pattern>/AccueilNewsLetter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChoixNewsLetter</servlet-name>
        <url-pattern>/ChoixNewsLetter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccueilDivers</servlet-name>
        <url-pattern>/AccueilDivers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionNewsLetter</servlet-name>
        <url-pattern>/ActionNewsLetter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterDestinataires</servlet-name>
        <url-pattern>/AjouterDestinataires</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionDivers</servlet-name>
        <url-pattern>/ActionDivers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterPDF</servlet-name>
        <url-pattern>/AjouterPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadPDF</servlet-name>
        <url-pattern>/UploadPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>New</servlet-name>
        <url-pattern>/New</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Disabled</servlet-name>
        <url-pattern>/Disabled</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modify</servlet-name>
        <url-pattern>/Modify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Show</servlet-name>
        <url-pattern>/Show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadData</servlet-name>
        <url-pattern>/UploadData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveNewInfos</servlet-name>
        <url-pattern>/SaveNewInfos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadPayePDF</servlet-name>
        <url-pattern>/UploadPayePDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping><servlet-name>Enabled</servlet-name><url-pattern>/Enabled</url-pattern></servlet-mapping><session-config>
        <session-timeout>120</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/DocAlliance</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    </web-app>
